.Xauthority
.Xclients
.Xresources
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/.mono/
.config/BaiduPCS-Go/
.config/Code - OSS/
.config/KeePass/
.config/Kvantum/
.config/Notion/
.config/QtProject.conf
.config/Slack/
.config/XMind/
.config/autostart/
.config/chromium/
.config/clipit/
.config/coc/
.config/configstore/
.config/dconf/
.config/deepin/
.config/dmenu-recent/
.config/dunst/
.config/epdfview/
.config/falkon/
.config/fish/
.config/flameshot/
.config/fontconfig/
.config/gconf/
.config/google-chrome/
.config/gtk-3.0/
.config/hexchat/
.config/i3-scrot.conf
.config/libfm/
.config/manjaro-hello.json
.config/menus/
.config/mimeapps.list.bak
.config/morc_menu/
.config/neofetch/
.config/netease-cloud-music/
.config/nitrogen/
.config/notion-nativefier-46aee8/
.config/nvim/plugged/
.config/onedrive/
.config/pamac/
.config/pcmanfm/
.config/picom.conf
.config/picom/
.config/qt5ct/
.config/ranger/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/variety/
.config/vlc/
.config/volumeicon/
.config/xarchiver/
.config/xfce4/
.config/yay/
.dir_colors
.dmenurc
.gimp-2.8/
.gitconfig
.gnome/
.gtkrc-2.0
.icons/
.ipython/
.local/
.makepkg.conf
.moc/
.mono/
.moonchild productions/
.pki/
.profile
.recently-used
.ssh/
.tig_history
.vscode-oss/
.xinitrc
.xprofile
.xsession-errors
.xsession-errors.old
.zshrc
Desktop/
Documents/
Downloads/
Leetcode/
OneDrive/
Pictures/
.config/nvim/undo/
